<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Študentski servis</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/assets/ItemSlider/css/main-style.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <style>
	body {
	    background-image: url(/assets/img/podjetje1.jpg);
	    background-repeat: no-repeat;
	    background-size: cover;
	}
    </style>
<nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><strong>ŠTUDENTSKI SERVIS</strong></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
		    <li><a href="/prosta_dela">Prosta dela</a></li>
		    <li><a href="/">Osnovna stran</a></li>
                </ul>
            </div>
        </div>
    </nav>
</head>
<body>


    <div class="podjetje">
    %if podjetje:
	<nav>
		<ul>
	    	    <li><strong>IME:</strong>{{podjetje[0]}}</li>
	    	    <li><strong>KRAJ:</strong> {{podjetje[1]}}</li>
	    	    <li><strong>DRŽAVA:</strong> {{podjetje[2]}}</li>
	    	    <li><strong>PANOGA:</strong> {{podjetje[3]}}</li>
		    <li><strong>KONTAKT:</strong> {{podjetje[4]}}</li>
		</ul>
    	</nav>
    %end
    </div>

    <div class="gumb">
	<form method="get" action="/dodaj">
    	    <button type="submit">DODAJ DELO!</button>
	</form>
    </div>


</body>
</html>