<!DOCTYPE html>
<html class=" js cssanimations csstransforms js cssanimations csstransforms" lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Študentski servis</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link href="/assets/css/style.css" rel="stylesheet">
        <style>
	body {
	    background-image: url(/assets/img/servis.jpg);
	    background-repeat: no-repeat;
	    background-color: #ffffff;
	}
    </style>
</head>
<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
	    <div class="navbar-header">
                <a class="navbar-brand" href="/"><strong>ŠTUDENTSKI SERVIS</strong></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    <li></li>
                    <li><a href="prijava">Prijava</a></li>
                    <li><a href="registracija">Registracija</a></li>

                </ul>

 
 
                    
            </div>
      
        </div>

    </nav>

    <div class="prosta_dela">
	<form method="post" action="/prosta_dela/">
    	
	<nav>
	    <ul>
		<li><a href="#">Vrsta oglasa</a>
		    <ul>
			<li><input type="checkbox" name="vrsta1" id="kratkotrajno" value="kratkotrajno">Kratkotrajno delo</input></li>
			<li><input type="checkbox" name="vrsta2" id="dolgotrajno" value="dolgotrajno">Dolgotrajno delo</input></li>
			<li><input type="checkbox" name="vrsta3" id="pocitnisko" value="pocitnisko">Počitniško delo</input></li>
		    </ul>
		</li>
	    	<li><a href="#">Delovnik</a>
		    <ul>
			<li><input type="checkbox" name="delovnik1" id="dopoldne" value="dopoldne">Dopoldne</input></li>
			<li><input type="checkbox" name="delovnik2" id="popoldne" value="popoldne">Popoldne</input></li>
			<li><input type="checkbox" name="delovnik3" id="izmensko" value="izmensko">Izmensko</input></li>
			<li><input type="checkbox" name="delovnik4" id="med vikendom" value="med vikendom">Med vikendom</input></li>
		    </ul>
		</li>

	        <li><a href="#">Urna postavka</a>
	    	    %if postavka:
		    <ul>
			<li><input type="range" min="{{postavka[0]}}" max="{{postavka[1]}}" value="{{postavka[0]}}" class="slider" id="myRange" name="postavka">
				<p>Minimalna postavka: <span id="demo"></span></p>
				<script>
				    var slider = document.getElementById("myRange");
				    var output = document.getElementById("demo");
				    output.innerHTML = slider.value;

				    slider.oninput = function() {
  					output.innerHTML = this.value;
				    }
				</script>


			</li>

		    </ul>
		    %end
		</li>
		<li><button type="submit" href="#">Išči</button></li>
	    </ul>

    	</nav>
	</form>	
    </div>

    %for rezultat in rezultat_iskanja:
    <div class="delo">
	<nav>
	    <p>{{rezultat[0]}}</p>
	    <ul>
		<li>
		    <p>Urna postavka: {{rezultat[1]}}€/h</p>
		</li>
		<li>
		    <p>Kraj:{{rezultat[2]}}</p>
		</li>
		<li>
		    <p>Izobrazba:{{rezultat[3]}}</p>
		</li>
		<li>
		    <p>Delovnik: {{rezultat[4]}}</p>
		</li>
		<li>
		    <p>Vrsta oglasa: {{rezultat[5]}}</p>
		</li>

	    </ul>
	</nav>

    </div>
    %end











</body>
</html>






