<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Študentski servis</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="assets/ItemSlider/css/main-style.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <style>
	body {
	    background-image: url(/assets/img/student.jpg);
	    background-repeat: no-repeat;
	    background-size: cover;
	}
    </style>
<nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><strong>ŠTUDENTSKI SERVIS</strong></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
		    <li><a href="prosta_dela_student">Prosta dela</a></li>
                </ul>
            </div>
        </div>
    </nav>
</head>
<body>

    <div class="student">
	<nav>
		<ul>
	    	    <li><strong>IME:</strong>Janez Novak</li>
	    	    <li><strong>DATUM ROJSTVA:</strong>01.01.1997</li>
	    	    <li><strong>KRAJ:</strong>Ljubljana</li>
	    	    <li><strong>DRŽAVA:</strong>Slovenija</li>
	    	    <li><strong>IZOBRAZBA:</strong>FMF</li>
		</ul>
    	</nav>
    </div>

    <div class="gumb">
	<form method="get" action="/prosta_dela_student">
    	    <button type="submit">IŠČI DELO!</button>
	</form>
    </div>


</body>
</html>